
.header .logo, .i-company, .i-def, .i-error, .i-error1, .i-global, .i-suc {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/user/reg/1.0.0/css/i/icon.png") no-repeat scroll 0 0;
}
.i-error {
    background-position: -17px -100px;
}
.i-def {
    background-position: 0 -100px;
}
.i-suc {
    background-position: 0 -117px;
}
.i-company {
    background-position: 0 -50px;
}
.i-global {
    background-position: -50px -50px;
}
.i-error1 {
    background-position: -17px -117px;
}
.header {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/user/reg/1.0.0/css/i/headbg.jpg") repeat-x scroll left bottom;
    height: 110px;
}
.header .logo {
    float: left;
    height: 50px;
    margin-top: 24px;
    width: 160px;
}
.header .logo-title {
    border-left: 1px solid #bbb;
    color: #000;
    float: left;
    font-size: 18px;
    height: 34px;
    line-height: 34px;
    margin-left: 25px;
    margin-top: 34px;
    padding-left: 25px;
}
.header .have-account {
    color: #999;
    float: right;
    font-size: 16px;
    margin-top: 55px;
}
.header .have-account a {
    color: #333;
}
.feedback, .i-clear, .i-company, .i-def, .i-error, .i-error1, .i-global, .i-suc, .registerDialog .close, .registerDialog .ico {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/user/reg/1.0.0/css/i/icon.png") no-repeat scroll 0 0;
}
.i-error {
    background-position: -17px -100px;
}
.i-def {
    background-position: 0 -100px;
}
.i-suc {
    background-position: 0 -117px;
}
.i-company {
    background-position: 0 -50px;
}
.i-global {
    background-position: -50px -50px;
}
.i-error1 {
    background-position: -17px -117px;
}
button, input, select, textarea {
    outline: 0 none;
}
textarea {
    font-size: 13px;
    resize: none;
}
body, button, input, txt {
    font-family: "Microsoft YaHei","Hiragino Sans GB";
}
.tips {
    background: #fef4e5 none repeat scroll 0 0;
    border: 1px solid #f6c090;
    border-radius: 3px;
    color: #bc5212;
    display: none;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    position: absolute;
    text-align: center;
    z-index: 11;
}
.tips .arrow {
    border-color: #f6c090 transparent transparent;
    border-style: solid dashed dashed;
    border-width: 8px;
    bottom: -16px;
    font-size: 0;
    height: 0;
    left: 50%;
    line-height: 0;
    margin-left: -4px;
    position: absolute;
    width: 0;
}
.tips .arrow-inner {
    border-color: #fef4e5 transparent transparent;
    border-style: solid dashed dashed;
    border-width: 8px;
    bottom: -15px;
    font-size: 0;
    height: 0;
    left: 50%;
    line-height: 0;
    margin-left: -4px;
    position: absolute;
    width: 0;
}
.capslock-tip {
    right: 2px;
    top: -45px;
}
.feedback {
    background-position: -367px 0;
    display: block;
    height: 135px;
    width: 33px;
}
.feedback:hover {
    background-position: -334px 0;
}
.i-clear {
    background-position: -34px -100px;
    cursor: pointer;
    display: none;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 16px;
}
.reg-ad {
    height: 140px;
    width: 100%;
}
.reg-ad a {
    display: block;
    height: 140px;
    width: 100%;
}
.ui-dialog {
    box-shadow: 0 3px 10px #ccc;
}
.registerDialog {
    background: #fff none repeat scroll 0 0;
    padding: 30px 0;
    text-align: center;
}
.registerDialog .con {
    color: #333;
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    vertical-align: middle;
}
.registerDialog .ico {
    background-position: -211px 0;
    display: inline-block;
    height: 48px;
    margin-right: 20px;
    vertical-align: middle;
    width: 48px;
}
.registerDialog .close {
    background-position: -51px -118px;
    display: block;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
}
.ui-mask {
    cursor: pointer;
}
.ui-dialog-autoclose {
    display: none;
}
.ui-dialog .ui-dialog-title {
    color: #000;
    font-weight: 700;
}
.protocol-con {
    height: 426px;
    line-height: 20px;
    margin-bottom: 25px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}
.protocol-con h4, .protocol-con h5 {
    color: #333;
    font-size: 14px;
}
.protocol-con h5 {
    margin: 10px 0;
}
.protocol-button button {
    background: #e22 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    display: block;
    font-family: "Microsoft YaHei","Hiragino Sans GB";
    font-size: 16px;
    height: 54px;
    margin: 0 auto;
    width: 400px;
}
.form-item-valid .i-status, .i-company, .i-def, .i-error, .i-error1, .i-global, .i-info, .i-pwd-medium, .i-pwd-strong, .i-pwd-weak, .i-suc {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/user/reg/1.0.0/css/i/icon.png") no-repeat scroll 0 0;
}
.i-error {
    background-position: -17px -100px;
}
.i-def {
    background-position: 0 -100px;
}
.i-suc {
    background-position: 0 -117px;
}
.i-company {
    background-position: 0 -50px;
}
.i-global {
    background-position: -50px -50px;
}
.i-error1 {
    background-position: -17px -117px;
}
body {
    font-size: 14px;
}
.main {
    margin: 50px auto 60px;
    width: 830px;
}
.reg-form {
    width: 400px;
}
.form-item {
    border: 1px solid #ddd;
    height: 52px;
    position: relative;
    width: 398px;
    z-index: 0;
}
.form-item label {
    float: left;
    height: 52px;
    line-height: 52px;
    padding-left: 20px;
    width: 90px;
}
.form-item txt {
    margin-top: 2px !important;
}
.form-item .field {
    border: 0 none;
    font-size: 14px;
    height: 19px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-top: 16px;
    width: 190px;
}
.form-item .field span {
    display: none;
}
.form-item .form-authcode, .form-item .phonecode {
    width: 150px;
}
.form-item .error {
    display: block;
}
.form-item .i-status {
    display: none;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 16px;
}
.form-item .img-code {
    cursor: pointer;
    height: 46px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 110px;
}
.pwd-weak {
    border: 1px solid #e22;
}
.pwd-medium {
    border: 1px solid #f91;
}
.pwd-strong {
    border: 1px solid #90b71b;
}
.i-info {
    background-position: -34px -117px;
}
.i-pwd-weak {
    background-position: -17px -134px;
}
.i-pwd-medium {
    background-position: -34px -117px;
}
.i-pwd-strong {
    background-position: -34px -134px;
}
.btn-phonecode {
    background: #f2f2f2 none repeat scroll 0 0;
    border: medium none;
    color: #333;
    height: 46px;
    padding: 0;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 110px;
}
.btn-code-disable {
    background: #f2f2f2 none repeat scroll 0 0;
    color: #999;
    cursor: default;
}
.form-item-account {
    z-index: 13;
}
.form-item-phone .select-country {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ddd -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
    color: #666;
    height: 52px;
    padding: 0 0 0 20px;
    width: 104px;
}
.form-item-phone .arrow {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/user/reg/1.0.0/css/i/icon.png") no-repeat scroll -2px -151px;
    display: inline-block;
    height: 15px;
    margin-left: 5px;
    margin-top: 15px;
    width: 15px;
}
.form-item-phone .down {
    background-position: -2px -151px;
}
.form-item-phone txt {
    margin-left: 7px !important;
}
.form-item-phone input {
    padding-left: 7px !important;
}
.form-agreen {
    color: #333;
    font-size: 12px;
}
.form-agreen input {
    border: 1px solid #cfd1d3;
    height: 18px;
    margin: 0 10px 0 0;
    padding: 0;
    vertical-align: text-top;
    width: 18px;
}
.form-agreen a {
    color: #38f;
}
.form-item-error {
    border: 1px solid #e22;
}
.form-item-valid .i-status {
    background-position: 0 -117px;
    display: block;
}
.pending .i-status {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/user/reg/1.0.0/css/i/loading.gif") repeat scroll 0 0;
    display: block;
}
.phone-binded {
    border: 1px solid #f91;
}
.input-tip {
    color: #c5c5c5;
    font-size: 12px;
    height: 27px;
    padding-top: 5px;
}
.input-tip span i {
    display: inline-block;
    height: 16px;
    margin-right: 8px;
    vertical-align: text-top;
    width: 16px;
}
.input-tip .error {
    color: #e22;
}
.phone-bind-tip {
    color: #f91;
}
.phone-bind-tip .i-info {
    background-position: -68px -100px;
}
.btn-register {
    background: #e22 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-family: "Microsoft YaHei","Hiragino Sans GB";
    font-size: 16px;
    height: 54px;
    width: 100%;
}
.suggest-container {
    display: none;
}
.suggest-container li {
    cursor: pointer;
}
.suggest-container .disable {
    cursor: default;
}
.user-suggest {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #f98 #f98 rgba(221, 221, 221, 0.15);
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 5px;
    display: block;
    left: -1px;
    position: absolute;
    top: 52px;
    width: 398px;
    z-index: 10;
}
.user-suggest li {
    background: #fdf2ef none repeat scroll 0 0;
    color: #666;
    height: 40px;
    line-height: 40px;
    padding-left: 130px;
}
.user-suggest .suggest-li-last {
    border-bottom: 1px solid #f98;
}
.user-suggest .disable {
    color: #ee2223;
}
.user-suggest .disable i {
    display: inline-block;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
    width: 16px;
}
.user-suggest .disable .value {
    overflow: hidden;
}
.user-suggest .disable .value span {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
}
.user-suggest .current {
    background: #ffeae5 none repeat scroll 0 0;
}
.phone-suggest {
    background: #fff none repeat scroll 0 0;
    border-bottom: medium none;
    border-left: 1px solid #ccc;
    width: 145px;
    z-index: 11;
}
.phone-suggest li {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.phone-suggest .current, .phone-suggest .selected {
    background: #f6f6f6 none repeat scroll 0 0;
}
.email-suggest {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    left: -1px;
    position: absolute;
    top: 52px;
    width: 100%;
    z-index: 10;
}
.email-suggest li {
    color: #333;
    height: 40px;
    line-height: 40px;
    padding-left: 130px;
    text-align: right;
    text-indent: -1000px;
    width: 255px;
}
.email-suggest li .value {
    overflow: hidden;
}
.email-suggest .current {
    background: #f6f6f6 none repeat scroll 0 0;
}
.ui-scrollbar-main {
    background-color: #fff;
}
.ui-scrollbar-item {
    background: #ddd none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.reg-other {
    border-left: 1px solid #e6e6e6;
    float: left;
    height: 605px;
    margin-left: 104px;
    padding-left: 90px;
}
.reg-other .phone-fast-reg {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/user/reg/1.0.0/widget/personal-reg/i/phone.jpg") no-repeat scroll 0 0;
    height: 270px;
    width: 213px;
}
.reg-other .company-reg {
    border-bottom: 1px solid #ddd;
    height: 60px;
    margin-left: 30px;
    margin-top: 50px;
    width: 160px;
}
.reg-other .company-reg a {
    display: block;
    height: 30px;
    width: 160px;
}
.reg-other .company-reg a i {
    display: inline-block;
    height: 29px;
    margin-right: 15px;
    vertical-align: middle;
    width: 30px;
}
.reg-other .company-reg a span {
    vertical-align: middle;
}
.reg-other .inter-cust {
    margin-left: 30px;
    margin-top: 30px;
    width: 160px;
}
.reg-other .inter-cust a {
    display: block;
    height: 30px;
    width: 170px;
}
.reg-other .inter-cust a i {
    display: inline-block;
    float: left;
    height: 30px;
    margin-right: 15px;
    margin-top: 7px;
    vertical-align: text-bottom;
    width: 30px;
}
.reg-other .inter-cust a span {
    display: inline-block;
}
.reg-other a:hover {
    color: #000;
    font-weight: 700;
}
.form-item-phonecode .i-status {
    display: none;
    right: 125px;
}
.form-item-authcode .i-status {
    right: 125px;
}
.item-phone-wrap {
    height: 86px;
    position: relative;
    z-index: 2;
}
.item-phone-wrap .orEmail {
    bottom: 10px;
    position: absolute;
    right: 0;
}
.item-phone-wrap .orEmail a {
    color: #38f;
}
.item-email-wrap {
    display: none;
    height: 86px;
    position: relative;
    z-index: 11;
}
.item-email-wrap .orPhone {
    bottom: 10px;
    position: absolute;
    right: 0;
}
.item-email-wrap .orPhone a {
    color: #38f;
}
.item-email-wrap .form-item {
    z-index: 11;
}
.ignore-item {
    display: none;
}
#form-equalTopwd, #form-pwd, #login-pwd {
    width: 210px;
}
#scrollbar1 {
    margin: 8px -1px;
    position: relative;
    visibility: hidden;
    width: 170px;
    z-index: 100;
}
#scrollbar1 .disable {
    display: none;
}
#scrollbar1 .viewport {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 320px;
    overflow: hidden;
    position: absolute;
    width: 140px;
    z-index: 10;
}
#scrollbar1 .overview {
    left: 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 10;
}
#scrollbar1 .scrollbar {
    background: transparent url("//misc.360buyimg.com/user/reg/1.0.0/widget/personal-reg/i/bg-scrollbar-track-y.png") no-repeat scroll 0 0;
    float: right;
    position: absolute;
    right: 28px;
    width: 15px;
    z-index: 11;
}
#scrollbar1 .track {
    background: transparent url("//misc.360buyimg.com/user/reg/1.0.0/widget/personal-reg/i/bg-scrollbar-trackend-y.png") no-repeat scroll 0 100%;
    height: 100%;
    padding: 0 1px;
    position: absolute;
    width: 13px;
}
#scrollbar1 .thumb {
    background: transparent url("//misc.360buyimg.com/user/reg/1.0.0/widget/personal-reg/i/bg-scrollbar-thumb-y.png") no-repeat scroll 50% 100%;
    cursor: pointer;
    height: 20px;
    left: -9px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 25px;
}
#scrollbar1 .thumb .end {
    background: transparent url("//misc.360buyimg.com/user/reg/1.0.0/widget/personal-reg/i/bg-scrollbar-thumb-y.png") no-repeat scroll 50% 0;
    height: 5px;
    overflow: hidden;
    width: 25px;
}
.noSelect {
    -moz-user-select: none;
}
.footer {
    border-top: 1px solid #e6e6e6;
    color: #999;
    font-size: 12px;
    padding-bottom: 30px;
    text-align: center;
}
.footer .links {
    padding-bottom: 15px;
    padding-top: 30px;
}
.footer p {
    color: #bbb;
}
.footer a {
    color: #999;
    margin: 0 10px;
}
