
.header .logo {
    background: rgba(0, 0, 0, 0) url("../image/admin/logo.png") no-repeat scroll 0 0;
}

.header {
    background: #3a6ea5 url("../image/admin/headbg.jpg") repeat-x scroll left bottom;
    height: 100px;
    margin-bottom: 40px;
}
.header .logo {
    float: left;
    height: 70px;
    margin-top: 14px;
    width: 200px;
}
.header .logo-title {
    border-left: 1px solid #bbb;
    color: #000;
    float: left;
    font-size: 20px;
    height: 34px;
    line-height: 34px;
    margin-left: 10px;
    margin-top: 40px;
    padding-left: 25px;
}
.header .have-account {
    color: #999;
    float: right;
    font-size: 20px;
    margin-top: 40px;
    margin-right: 20px;
}
.header .have-account a {
    color: #333;
}

button, input, select, textarea {
    outline: 0 none;
}
textarea {
    font-size: 13px;
    resize: none;
}
body, button, input, txt {
    font-family: "Microsoft YaHei","Hiragino Sans GB";
}


body {
    font-size: 14px;
}



.footer {
    border-top: 1px solid #e6e6e6;
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 40px;
}
.footer .links {
    padding-bottom: 10px;
    padding-top: 30px;
}
.footer p {
    color: #bbb;
}
.footer a {
    color: #999;
    margin: 0 10px;
}
